@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Я тут поменяла</h1>
    <p>Это рикролл: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Я предупреждала</a>!</p>
</div>
